@model DEMO_NEXUSPROJECT.Models.Customer

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}





<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" href="javascript:;">Customer Information</a></li>
            <li class="breadcrumb-item text-sm text-white active" aria-current="page">Tables Customer</li>
          </ol>
            <h6 class="font-weight-bolder text-white mb-0">Customer Details: @Model.FullName</h6>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">
            <div class="input-group">
              
            </div>
          </div>
          <ul class="navbar-nav  justify-content-end">
            <li class="nav-item d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-white font-weight-bold px-0">
                <i class="fa fa-user me-sm-1"></i>
                <span class="d-sm-inline d-none">LogOut</span>
              </a>
            </li>
            <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-white p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line bg-white"></i>
                  <i class="sidenav-toggler-line bg-white"></i>
                  <i class="sidenav-toggler-line bg-white"></i>
                </div>
              </a>
            </li>
            <li class="nav-item px-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-white p-0">
                <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
              </a>
            </li>
           
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6> Customer Table</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Author</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">AccountNumber</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                       <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">PhoneNumber</th>
                       <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Address CityCode</th>
                       <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">RegistrationDate</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img src="~/img/@Model.Photo" class="avatar avatar-sm me-3" alt="user1">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">@Model.FullName : IDCard: @Model.Idcard</h6>
                            <p class="text-xs text-secondary mb-0">@Model.Email</p>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">@Model.AccountNumber</p>
                       
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="badge badge-sm bg-gradient-success">@Model.Status</span>
                      </td>
                       <td class="align-middle text-center text-sm">
                        <span class="badge badge-sm bg-gradient-success">@Model.PhoneNumber</span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">@Model.Address , @Model.CityCode</span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">@Model.RegistrationDate</span>
                      </td>


                     
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Order Table Customer</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center justify-content-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Order Code</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Order Date</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Status</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">ConnectionType</th>
                    </tr>
                  </thead>
                  <tbody>
                       @foreach (var order in Model.Orders)
                                    {
                                    <tr>
                                        <td>
                                            <div class="d-flex px-2">
                                                <div>

                                                </div>
                                                <div class="my-auto">
                                                    <h6 class="mb-0 text-sm">@order.OrderCode</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="text-sm font-weight-bold mb-0">@order.OrderDate.ToString("yyyy-MM-dd")</p>
                                        </td>
                                        <td>
                                            <span class="text-xs font-weight-bold">@order.Status</span>
                                        </td>
                                        <td class="align-middle text-center">
                                            <div class="d-flex align-items-center justify-content-center">
                                                <span class="me-2 text-xs font-weight-bold">@order.ConnectionType</span>
                                              
                                            </div>
                                        </td>
                                    </tr>

                                }
                            </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>Invoices Table Customer</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center justify-content-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Invoice Number</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Amount</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Status</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">IssueDate</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var invoice in Model.Invoices)
                                {
                                    <tr>
                                        <td>
                                            <div class="d-flex px-2">
                                                <div>
                                                </div>
                                                <div class="my-auto">
                                                    <h6 class="mb-0 text-sm">@invoice.InvoiceNumber</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="text-xs font-weight-bold">@invoice.Amount</span>
                                        </td>
                                        <td>
                                            <span class="text-xs font-weight-bold">@invoice.Status</span>
                                        </td>
                                        <td>
                                            <p class="text-sm font-weight-bold mb-0">@invoice.IssueDate.ToString("yyyy-MM-dd")</p>
                                        </td>
                                      
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
          <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>Transaction Logs Table Customer</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center justify-content-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ">Transaction ID</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Transaction Type</th>
                                 
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Transaction Date</th>
                                   @*  <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Details</th> *@
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var log in Model.TransactionLogs)
                                {
                                    <tr>
                                        <td>
                                            <div class="d-flex px-2">
                                                <div>
                                                </div>
                                                <div class="my-auto">
                                                    <h6 class="mb-0 text-sm">@log.TransactionId</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center justify-content-center">
                                                <span class="me-2 text-xs font-weight-bold">@log.TransactionType</span>

                                            </div>
                                        </td>
                                        <td>
                                            <span class="text-sm font-weight-bold mb-0">@log.TransactionDate</span>
                                        </td>
                                        @* <td>
                                            <p class="text-sm font-weight-bold mb-0">@log.Details</p>
                                        </td> *@
                                        
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>Connections Table Customer</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center justify-content-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Connection ID</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Connection Type</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">ActivationDate </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">TerminationDate</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var connection in Model.Connections)
                                {
                                    <tr>
                                        <td>
                                            <div class="d-flex px-2">
                                                <div>
                                                </div>
                                                <div class="my-auto">
                                                    <h6 class="mb-0 text-sm">@connection.ConnectionId</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center justify-content-center">
                                                <span class="me-2 text-xs font-weight-bold">@connection.ConnectionType</span>

                                            </div>
                                        </td>

                                         <td>
                                            <span class="text-sm font-weight-bold mb-0">@connection.ActivationDate</span>
                                        </td>
                                        <td>
                                            <span class="text-sm font-weight-bold mb-0">@connection.TerminationDate</span>
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>